body{
    font-family: Arial;
    background: #f2f2f2;
}

.formulario{
    width: 500px;
    margin: 40px auto;
    border: 1px solid #999;
    background: white;
}

.titulo{
    background: #4a4a4a;
    color: white;
    padding: 15px;
    font-size: 40px;
}

.contenido{
    padding: 20px;
}

label{
    font-weight: bold;
}

input, textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.fila{
    display: flex;
    gap: 10px;
}

.columna{
    width: 50%;
}

button{
    background: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}